.countercon
{
    margin: 15px 10px 20px 15px;
    #countval
    {
        font-size: 44px;
        margin-bottom: 15px;
    }
    #btncount
    {
        display: inline-flex;
        margin-right: 10px;
    }
    #btnreset
    {
        display: inline-flex;
    }
}